<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MongoDatabaseName" value="DevDatabase" />
    <add key="MongoUserName" value="devUser" />
    <add key="MongoPasswordName" value="devPassord" />
    <add key="MongoHost" value="localhost" />
    <add key="MongoPort" value="27017" />
    <add key="MongoLocation" value="mongodb://localhost:27017" />
  </appSettings>
  <configSections>  
   
  </configSections>
 
  <runtime>
 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 
          <dependentAssembly>
 
              <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
 
          </dependentAssembly>
 
      </assemblyBinding>
 
  </runtime>
</configuration>